body{
    font-family: "Jost", serif;
    margin: 0;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.fa-solid {
    font-size: 24px;
}

.logo {
    font-family: "Madimi One", serif;
    font-weight: 400;
    color: #FFFFFF;
}

.nav-bar{
    padding-inline: 1.5em;
    background: #528728;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icons{
    display: flex;
    gap: 20px;
}

.banner {
    position: relative;
}

.banner h2{
    color: #FFFFFF;
    font-family: "Jost", serif;
    font-weight: 400;
    position: absolute;
    top: 30px;
    left: 35px;
}

.best-sellers-title{
    font-family: "Jost", serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}

.best-sellers-container{
    display: flex;
}

.best-sellers-product{
    display: flex;
    height: 400px;
}

.best-sellers-product img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

footer section{
    background: #000000;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .logo{
    margin: 0;
}

footer div{
    display: flex;
    gap: 10px;
}

footer p {
    color: #FFFFFF;
    margin: 0;
}

@media(max-width: 600px){
    .banner h2{
        font-size: 20px;
    }

    .best-sellers-container{
        flex-direction: column;
    }

    .best-sellers-title{
        font-size: 22px;
    }
}

header img{
    width: 100%;
    object-fit: cover;
    height: 220px;
    display: flex;
}

.contact-title {
    text-align: center;
    margin-top: 0;
}

#contact{
    background: #5e8728ab;
    margin-inline: 14em;
    border-radius: 15px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact-container{
    background: url(../assets/flowers.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

input[type=text]{
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 20em;
    padding: .5em;
}

textarea{
    padding: .5em;
    width: 20em;
    border-radius: 5px;
}

label {
    margin-bottom: 4px;
}

#send-button{
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 2em;
    padding: .65em 5.5em;
}

.matcha-sells{
    margin: 1em 1.5em 4.5em;
    position: relative;
}

.filters-icons{
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: .5em .75em;
    border-radius: 10px;
}

.filters-icons h3 {
    margin: 0;
}

.offers{
    font-weight: 500;
    font-size: 18px;
    margin-left: .5em;
}


.matcha-offer{
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.matcha_card{
    background-color: #FFFFFF;
    position: relative;
    padding: 1em;
    border: 2px solid #528728;
    border-radius: 20px;
    min-width: 300px;
    text-align: center;
}

.matcha_card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.matcha-description{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.matcha-description p {
    margin: 0;
}

.add-to-cart{
    font-weight: 500;
    background: #D9D9D9;
    padding: 4px;
    border-radius: 50px;
    margin-bottom: 0;
    cursor: pointer;
}

.add-to-cart:hover{
    background-color: #528728;
}

.fa-arrow-up{
    position: absolute;
    right: 0;
    bottom: -50px;
}

@media (max-width: 1250px) {
    .matcha-offer{
        flex-direction: column;
    }
  }
  

.about-page{
    height: 100vh;
    display: flex;
    text-align: center;
}

.about-title{
    font-weight: 600;
}

.about-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-banner img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
