body{
    font-family: "Jost", serif;
    margin: 0;
<<<<<<< HEAD
   /* max-width: 1400px;*/
=======
>>>>>>> e927a012e6eb3b4e935bd325ac5f4aee7e1caef9
}

a {
    color: #000000;
    font-family: "Jost", serif;
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding: 0;
}

button{
    cursor: pointer;
}

.left-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    left: -350px;
    background: #2D5226;
    padding: 1.5em .75em;
    z-index: 1;
    transition: left .3s ease-in-out;
}

.left-menu li:hover, .left-menu a:hover{
    color: #FFFFFF;
    cursor: pointer;
}

.fa-solid {
    font-size: 24px;
}

.fa-bars{
    cursor: pointer;
}


.logo a{
    font-family: "Madimi One", serif;
    font-weight: 400;
    color: #FFFFFF;
}

.nav-bar{
    height: 80px;
    padding-inline: 1.5em;
    background: #528728;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-icons i {
    cursor: pointer;
}

.banner {
    position: relative;
}

.banner h2{
    color: #FFFFFF;
    font-family: "Jost", serif;
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    top: 30px;
    left: 35px;
}

.banner img, .sell-banner{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

footer a {
    color: #FFFFFF;
}

/******** HOME PAGE ********/
.best-sellers-title{
    font-family: "Jost", serif;
    font-weight: 500;
    text-align: center;
}

.best-sellers-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

@media (max-width: 700px){
    .best-sellers-container{
        display: flex;
        flex-direction: column;
    }
}

.best-sellers-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    width: 100%;
}

.best-sellers-product img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.gray-star{
    color: #D9D9D9;
}

.best-sellers-description{
    font-weight: 400;
}

.add-best-sellers{
    padding: .75em 3em;
    border: none;
    border-radius: 25px;
    background: #2D5226;
    color: #FFFFFF;
}

.add-best-sellers:hover{
    background: #528728;
}

.fa-star{
    font-size: 15px;
    color: #2D5226;
}

footer section{
    background: #000000;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .logo{
    margin: 0;
}

footer div{
    display: flex;
    gap: 10px;
}

footer p {
    color: #FFFFFF;
    margin: 0;
}

@media(max-width: 600px){
    .banner h2{
        font-size: 20px;
    }

    .best-sellers-container{
        flex-direction: column;
    }

    .best-sellers-title{
        font-size: 22px;
    }
}

.logo img{
    display: flex;
    width: 100%;
    object-fit: cover;
    height: 185px;
}


/****** CONTACT PAGE *******/
.contact{
    height: 100vh;
}

.contact-title {
    text-align: center;
    margin: 0;
    padding: 20px 0 0;
    font-size: 30px;
}

#contact-form{
    background: #528728eb;
    margin: 2em auto;
    width: 70%;
    border-radius: 15px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact-container{
    background: url(../assets/bg.jpg) repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text]{
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    width: 70%;
    padding: .5em;
}

textarea{
    padding: .5em;
    width: 70%;
    border-radius: 5px;
}

label {
    margin-bottom: 4px;
}

#send-button{
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 2em;
    padding: .65em 0;
    width: 50%;
    box-sizing: border-box;
    transition: all ease-in .1s;
}

#send-button:hover{
    background: #2D5226;
}

/******* SELL PAGE *******/
.matcha-sells{
    margin: 1em 1.5em 4.5em;
    position: relative;
}

.filters-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    padding: .5em .75em;
    border-radius: 10px;
}

.filters-icons h3 {
    margin: 0;
}

.fa-chevron-down:hover{
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
}

.filters-preferences{
    display: none;
    position: relative;
    top: -10px;
    z-index: -1;
    padding: 1em 0 0 1em;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 11px 23px -4px rgba(82,135,40,0.7);
}

.show{
    display: flex;
    gap: 15px;
}

.promo-filter, .price-filter{
    display: flex;
    gap: 5px;
    align-items: center;
}

.promo-filter .fa-percent, .price-filter .fa-arrow-down{
    font-size: 1em;
}

.price-filter .fa-arrow-up{
    position: static;
    font-size: 1em;
}

.offers{
    font-weight: 500;
    font-size: 18px;
    margin-left: .5em;
}


.matcha-offer{
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.matcha_card{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    padding: 1em;
    border: 2px solid #528728;
    border-radius: 20px;
    text-align: center;
}

.matcha_card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.matcha-description{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-to-cart{
    font-weight: 500;
    background: #D9D9D9;
    padding: 4px;
    border-radius: 50px;
    margin: 0;
    cursor: pointer;
}

.add-to-cart:hover{
    background-color: #528728;
}

.fa-arrow-up{
    position: absolute;
    right: 0;
    bottom: -50px;
}

@media (max-width: 700px) {
    .filters-preferences{
        flex-direction: column;
        gap: 0;
    }

    .matcha-offer{
        flex-direction: column;
    }

    .matcha_card img{
        height: 170px;
        object-fit: contain;
    }
}

/********** ABOUT PAGE **********/
.about-page{
    display: flex;
    text-align: center;
    gap: 15px;
    margin: 1.5em 1.5em 0;
}

.about-container, .services-container{
    border: 1px solid #2D5226;
    background: #f0f9a7bd;
    width: 100%;
    border-radius: 15px;
    padding: 1.5em;
}


.team-member{
    display: flex;
    gap:  10px;
    height: 180px;
    margin-top: 1em;
}

.team-member img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.about-title{
    margin-top: 0;
    font-weight: 600;
}

.service-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.service-icon h3{
    margin: 0;
}

.about-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about-banner h4{
    font-size: 22px;
    font-weight: 600;
}

.about-banner button{
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 125px;
    border: none;
    border-radius: 25px;
    box-shadow: -1px -2px 16px 4px rgb(8 8 8 / 35%);
    padding: .75em 4.5em;
    background: #528728;
}

.about-banner button:hover{
    background: #000000;
}

.about-banner a {
    color: #FFFFFF;
}

.about-banner img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .about-page{
        flex-direction: column;
        margin-inline: 2.5em;
    }

    .about-container, .services-container{
        width: auto;
    }

    .about-banner h4{
        font-size: 20px;
    }

    /*.team-member{
        flex-direction: column;
    }*/
    
}

/********* USER PAGE *********/
.user-container{
    height: 100vh;
    background: #fbeedb;
    padding-top: 20px;
}

.fa-user-large{
    font-size: 40px;
    margin-bottom: 12px;
    text-align: center;
}

#user-form{
    background: #2D5226;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 4.5em;
    margin-inline: 2em;
}

input[type=password],input[type=email]{
    padding: 1em 0;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-width: 60%;
    margin-inline: auto;
}

.buttons button{
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    white-space: nowrap;
}

.connect-button{
    background: #528728;
}

h1, h2 {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
}

.presentation {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-self: center;
    padding: 10px;
}

.border {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    height: 50px;
    border: 2px solid #52B43F;
    color: #000000;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.main-text {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.hover-text {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 14px;
    color: #000000;
    transition: bottom 0.3s ease;
    visibility: hidden;
}

.border:hover .main-text {
    visibility: hidden;
}

.border:hover .hover-text {
    bottom: 30px;
    visibility: visible;
}

@media screen and (max-width: 768px) {
    .block {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .block {
        grid-template-columns: 1fr;
    }
}

.intro {
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.intro h1 {
    font-size: 24px;
    color: #4CAF50;
}

.intro p {
    font-size: 18px;
    color: #777;
    line-height: 1.6;
}

.valeurs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0;
    padding: 0 20px;
}

.valeur {
    background-color: #ffffff;
    padding: 30px;
    margin: 15px;
    width: 45%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.valeur h2 {
    font-size: 24px;
    color: #52B43F;
}

.valeur p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.valeur:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.carrousel {
    width: 100%;
    overflow: hidden;
}

.carrousel-images {
    display: flex;
    animation: defilement 30s linear infinite;
}

.carrousel-images img {
    width: 33.33%;
    height: 300px;
    flex-shrink: 0;
    object-fit: cover;
}

@keyframes defilement {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-33.33%);
    }
    50% {
        transform: translateX(-66.66%);
    }
    75% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
